NET "i_clock" PERIOD = 10 ns;
NET "i_clock" TNM_NET = "i_clock";
NET "i_clock" LOC = AE14;

NET "vga_clock" LOC = AF8;

#NET "vga_r[0]" LOC = N23;
#NET "vga_r[1]" LOC = N24;
#NET "vga_r[2]" LOC = N25;
NET "vga_r[3]" LOC = C2;
NET "vga_r[4]" LOC = G7;
NET "vga_r[5]" LOC = F7;
NET "vga_r[6]" LOC = E5;
NET "vga_r[7]" LOC = E6;

#NET "vga_g[0]" LOC = M22;
#NET "vga_g[1]" LOC = M23;
#NET "vga_g[2]" LOC = M20;
NET "vga_g[3]" LOC = E4;
NET "vga_g[4]" LOC = D3;
NET "vga_g[5]" LOC = H7;
NET "vga_g[6]" LOC = H8;
NET "vga_g[7]" LOC = C1;

#NET "vga_b[0]" LOC = M21;
#NET "vga_b[1]" LOC = M26;
#NET "vga_b[2]" LOC = L26;
NET "vga_b[3]" LOC = C5;
NET "vga_b[4]" LOC = C7;
NET "vga_b[5]" LOC = B7;
NET "vga_b[6]" LOC = G8;
NET "vga_b[7]" LOC = F8;

NET "vga_hsync" LOC = C10;
NET "vga_vsync" LOC = A8;

NET "i_reset" LOC = E7;

#NET "i_clk25" CLOCK_DEDICATED_ROUTE = FALSE;
