#nexys2
#NET "i_clock" TNM_NET = "i_clock";
#NET "i_clock" LOC = B8;
#NET "i_clock" PERIOD = 20 ns;
#NET "i_clock" LOC = U9;
#NET "i_clock" PERIOD = 10 ns;
#NET "i_reset" LOC = B18;
#NET "i_reset" TIG;

#ml402
#NET "io_sda_dd" LOC = B17;
#NET "io_scl_dd" LOC = A17;
#NET "io_sda_nl" LOC = AA24;
#NET "io_scl_nl" LOC = V20;

#NET "io_sda_nl" LOC = B17;
#NET "io_scl_nl" LOC = A17;
NET "io_sda_nl" LOC = AA24;
NET "io_scl_nl" LOC = V20;
NET "i_clock" PERIOD = 10 ns;
NET "i_clock" TNM_NET = "i_clock";
NET "i_clock" LOC = AE14;
NET "i_reset" LOC = E7;
NET "i_reset" TIG;
