NET "i_clock" PERIOD = 10 ns;
NET "i_clock" TNM_NET = "i_clock";
NET "i_clock" LOC = AE14;

# VGA
# vga_r contingent
NET "vga_r[0]" LOC = N23;
# vga_r contingent
NET "vga_r[0]" IOSTANDARD = LVCMOS33;
# vga_r contingent
NET "vga_r[1]" LOC = N24;
# vga_r contingent
NET "vga_r[1]" IOSTANDARD = LVCMOS33;
# vga_r contingent
NET "vga_r[2]" LOC = N25;
# vga_r contingent
NET "vga_r[2]" IOSTANDARD = LVCMOS33;
# vga_r contingent
NET "vga_r[3]" LOC = C2;
# vga_r contingent
NET "vga_r[3]" IOSTANDARD = LVCMOS25;
# vga_r contingent
NET "vga_r[4]" LOC = G7;
# vga_r contingent
NET "vga_r[4]" IOSTANDARD = LVCMOS25;
# vga_r contingent
NET "vga_r[5]" LOC = F7;
# vga_r contingent
NET "vga_r[5]" IOSTANDARD = LVCMOS25;
# vga_r contingent
NET "vga_r[6]" LOC = E5;
# vga_r contingent
NET "vga_r[6]" IOSTANDARD = LVCMOS25;
# vga_r contingent
NET "vga_r[7]" LOC = E6;
# vga_r contingent
NET "vga_r[7]" IOSTANDARD = LVCMOS25;
# vga_r contingent
NET "vga_r[0]" SLEW = FAST;
NET "vga_r[1]" SLEW = FAST;
NET "vga_r[2]" SLEW = FAST;
NET "vga_r[3]" SLEW = FAST;
NET "vga_r[4]" SLEW = FAST;
NET "vga_r[5]" SLEW = FAST;
NET "vga_r[6]" SLEW = FAST;
NET "vga_r[7]" SLEW = FAST;

# vga_g contingent
NET "vga_g[0]" LOC = M22;
# vga_g contingent
NET "vga_g[0]" IOSTANDARD = LVCMOS33;
# vga_g contingent
NET "vga_g[1]" LOC = M23;
# vga_g contingent
NET "vga_g[1]" IOSTANDARD = LVCMOS33;
# vga_g contingent
NET "vga_g[2]" LOC = M20;
# vga_g contingent
NET "vga_g[2]" IOSTANDARD = LVCMOS33;
# vga_g contingent
NET "vga_g[3]" LOC = E4;
# vga_g contingent
NET "vga_g[3]" IOSTANDARD = LVCMOS25;
# vga_g contingent
NET "vga_g[4]" LOC = D3;
# vga_g contingent
NET "vga_g[4]" IOSTANDARD = LVCMOS25;
# vga_g contingent
NET "vga_g[5]" LOC = H7;
# vga_g contingent
NET "vga_g[5]" IOSTANDARD = LVCMOS25;
# vga_g contingent
NET "vga_g[6]" LOC = H8;
# vga_g contingent
NET "vga_g[6]" IOSTANDARD = LVCMOS25;
# vga_g contingent
NET "vga_g[7]" LOC = C1;
# vga_g contingent
NET "vga_g[7]" IOSTANDARD = LVCMOS25;
# vga_g contingent
NET "vga_g[0]" SLEW = FAST;
NET "vga_g[1]" SLEW = FAST;
NET "vga_g[2]" SLEW = FAST;
NET "vga_g[3]" SLEW = FAST;
NET "vga_g[4]" SLEW = FAST;
NET "vga_g[5]" SLEW = FAST;
NET "vga_g[6]" SLEW = FAST;
NET "vga_g[7]" SLEW = FAST;

# vga_b contingent
NET "vga_b[0]" LOC = M26;
# vga_b contingent
NET "vga_b[0]" IOSTANDARD = LVCMOS33;
# vga_b contingent
NET "vga_b[1]" LOC = M21;
# vga_b contingent
NET "vga_b[1]" IOSTANDARD = LVCMOS33;
# vga_b contingent
NET "vga_b[2]" LOC = L26;
# vga_b contingent
NET "vga_b[2]" IOSTANDARD = LVCMOS33;
# vga_b contingent
NET "vga_b[3]" LOC = C5;
# vga_b contingent
NET "vga_b[3]" IOSTANDARD = LVCMOS25;
# vga_b contingent
NET "vga_b[4]" LOC = C7;
# vga_b contingent
NET "vga_b[4]" IOSTANDARD = LVCMOS25;
# vga_b contingent
NET "vga_b[5]" LOC = B7;
# vga_b contingent
NET "vga_b[5]" IOSTANDARD = LVCMOS25;
# vga_b contingent
NET "vga_b[6]" LOC = G8;
# vga_b contingent
NET "vga_b[6]" IOSTANDARD = LVCMOS25;
# vga_b contingent
NET "vga_b[7]" LOC = F8;
# vga_b contingent
NET "vga_b[7]" IOSTANDARD = LVCMOS25;
# vga_b contingent
NET "vga_b[0]" SLEW = FAST;
NET "vga_b[1]" SLEW = FAST;
NET "vga_b[2]" SLEW = FAST;
NET "vga_b[3]" SLEW = FAST;
NET "vga_b[4]" SLEW = FAST;
NET "vga_b[5]" SLEW = FAST;
NET "vga_b[6]" SLEW = FAST;
NET "vga_b[7]" SLEW = FAST;

# vga_psave_n contingent
NET "vga_psaven" LOC = M25;
# vga_psave_n contingent
NET "vga_psaven" IOSTANDARD = LVCMOS33;
# vga_psave_n contingent
NET "vga_psaven" SLEW = FAST;

# vga_blank_n contingent
NET "vga_blankn" LOC = M24;
# vga_blank_n contingent
NET "vga_blankn" IOSTANDARD = LVCMOS33;
# vga_blank_n contingent
NET "vga_blankn" SLEW = FAST;

# vga_sync_n contingent
NET "vga_syncn" LOC = L23;
# vga_sync_n contingent
NET "vga_syncn" IOSTANDARD = LVCMOS33;
# vga_sync_n contingent
NET "vga_syncn" SLEW = FAST;

# vga_hsync contingent
NET "vga_hsync" LOC = C10;
# vga_hsync contingent
NET "vga_hsync" IOSTANDARD = LVCMOS25;
# vga_hsync contingent
NET "vga_hsync" SLEW = FAST;

# vga_vsync contingent
NET "vga_vsync" LOC = A8;
# vga_vsync contingent
NET "vga_vsync" IOSTANDARD = LVCMOS25;
# vga_vsync contingent
NET "vga_vsync" SLEW = FAST;

# vga_clk contingent
NET "vga_clock" LOC = AF8;
# vga_clk contingent
NET "vga_clock" IOSTANDARD = LVCMOS33;
# vga_clk contingent
NET "vga_clock" SLEW = FAST;

NET "i_reset" LOC = E7;
NET "i_reset" TIG;

#NET "i_clk25" CLOCK_DEDICATED_ROUTE = FALSE;

# FP IPs around the corners on device
#INST "tfm_inst/inst_addfp" AREA_GROUP = "pblock_inst_addfp";
#AREA_GROUP "pblock_inst_addfp" RANGE=SLICE_X0Y176:SLICE_X39Y191;
#AREA_GROUP "pblock_inst_addfp" RANGE=DSP48_X0Y44:DSP48_X1Y47;
#AREA_GROUP "pblock_inst_addfp" RANGE=FIFO16_X0Y22:FIFO16_X3Y23;
#AREA_GROUP "pblock_inst_addfp" RANGE=RAMB16_X0Y22:RAMB16_X3Y23;
#INST "tfm_inst/inst_mulfp" AREA_GROUP = "pblock_inst_mulfp";
#AREA_GROUP "pblock_inst_mulfp" RANGE=SLICE_X40Y176:SLICE_X79Y191;
#AREA_GROUP "pblock_inst_mulfp" RANGE=DSP48_X2Y44:DSP48_X3Y47;
#AREA_GROUP "pblock_inst_mulfp" RANGE=FIFO16_X4Y22:FIFO16_X7Y23;
#AREA_GROUP "pblock_inst_mulfp" RANGE=RAMB16_X4Y22:RAMB16_X7Y23;
#INST "tfm_inst/inst_subfp" AREA_GROUP = "pblock_inst_subfp";
#AREA_GROUP "pblock_inst_subfp" RANGE=SLICE_X40Y0:SLICE_X79Y15;
#AREA_GROUP "pblock_inst_subfp" RANGE=DSP48_X2Y0:DSP48_X3Y3;
#AREA_GROUP "pblock_inst_subfp" RANGE=FIFO16_X4Y0:FIFO16_X7Y1;
#AREA_GROUP "pblock_inst_subfp" RANGE=RAMB16_X4Y0:RAMB16_X7Y1;
#INST "tfm_inst/inst_divfp" AREA_GROUP = "pblock_inst_divfp";
#AREA_GROUP "pblock_inst_divfp" RANGE=SLICE_X0Y0:SLICE_X39Y15;
#AREA_GROUP "pblock_inst_divfp" RANGE=DSP48_X0Y0:DSP48_X1Y3;
#AREA_GROUP "pblock_inst_divfp" RANGE=FIFO16_X0Y0:FIFO16_X3Y1;
#AREA_GROUP "pblock_inst_divfp" RANGE=RAMB16_X0Y0:RAMB16_X3Y1;
#INST "tfm_inst/b0.inst_fixed2float" AREA_GROUP = "pblock_b0.inst_fixed2float";
#AREA_GROUP "pblock_b0.inst_fixed2float" RANGE=SLICE_X32Y80:SLICE_X39Y95;
#INST "inst_float2fixed" AREA_GROUP = "pblock_inst_float2fixed";
#AREA_GROUP "pblock_inst_float2fixed" RANGE=SLICE_X40Y96:SLICE_X47Y111;
