#NET "i_clock" LOC="AE14";
#NET "i_clock" PERIOD = 10.00 ns;
#NET "i_reset" LOC="B6";
#NET "i_sda" LOC="B17";
#NET "i_scl" LOC="A17";
#NET "o_data<0>" LOC="AD25";
#NET "o_data<1>" LOC="AB22";
#NET "o_data<2>" LOC="W21";
#NET "o_data<3>" LOC="W20";
#NET "o_data<4>" LOC="AB21";
#NET "o_data<5>" LOC="AD22";
#NET "o_data<6>" LOC="AE24";
#NET "o_data<7>" LOC="AF24";
