#NET "i_clock" LOC="AE14";
#NET "i_clock" PERIOD = 10.00 ns;
#NET "i_reset" LOC="B6";
#NET "i_sda" LOC="B17";
#NET "i_scl" LOC="A17";
#NET "o_data<0>" LOC="AD25";
#NET "o_data<1>" LOC="AB22";
#NET "o_data<2>" LOC="W21";
#NET "o_data<3>" LOC="W20";
#NET "o_data<4>" LOC="AB21";
#NET "o_data<5>" LOC="AD22";
#NET "o_data<6>" LOC="AE24";
#NET "o_data<7>" LOC="AF24";
#pin2ucf - Fri Mar 10 21:53:58 2023
#The following constraints were newly added
NET "vga_vsync" LOC = A8;
NET "vga_b<0>" LOC = M21;
NET "vga_b<1>" LOC = M26;
NET "vga_b<2>" LOC = L26;
NET "vga_b<3>" LOC = C5;
NET "vga_b<4>" LOC = C7;
NET "vga_b<5>" LOC = B7;
NET "vga_b<6>" LOC = G8;
NET "vga_b<7>" LOC = F8;
NET "i_reset" LOC = E7;
NET "vga_g<0>" LOC = M22;
NET "vga_g<1>" LOC = M23;
NET "vga_clock" LOC = AF8;
NET "vga_g<2>" LOC = M20;
NET "vga_g<3>" LOC = E4;
NET "vga_g<4>" LOC = D3;
NET "vga_r<0>" LOC = N23;
NET "vga_g<5>" LOC = H7;
NET "vga_r<1>" LOC = N24;
NET "vga_g<6>" LOC = H8;
NET "vga_syncn" LOC = L23;
NET "vga_r<2>" LOC = N25;
NET "vga_g<7>" LOC = C1;
NET "vga_r<3>" LOC = C2;
NET "vga_blankn" LOC = M24;
NET "vga_r<4>" LOC = G7;
NET "vga_r<5>" LOC = F7;
NET "vga_r<6>" LOC = E5;
NET "vga_r<7>" LOC = E6;
NET "vga_hsync" LOC = C10;
NET "vga_psave" LOC = M25;
NET "i_clock" LOC = AE14;
